.chat{
    flex: 0.65;
    display: flex;
    flex-direction: column;
}

.chat_header{
    padding: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.chat_headerInfo{
    flex: 1;
    padding-left: 20px;
}

.chat_headerInfo >h3{
    margin-bottom: 3px;
    font-weight: 500;
}

.chat_headerInfo > p{
    color: gray;
}

.chat_headerRight{
    display: flex;
    justify-content: space-between;
    min-width: 100px;
}

.chat_body{
    flex: 1;
    background-image: url("https://wallpapers.com/images/hd/fun-chat-app-stickers-pattern-a7mhh6ay9qqcpyfh.jpg");
    background-repeat: repeat;
    background-position: center;
    padding: 30px;
    overflow: scroll;
    padding-bottom: 35px !important;
}

.chat_message{
    position: relative;
    background-color: rgb(247, 246, 246);
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    color: rgb(14, 14, 14);
    margin-bottom: 30px;
}

.chat_name{
    position: absolute;
    top: -15px;
    font-weight: 800;
    font-size: xx-small ;
    color: rgb(231, 225, 225);
}

.chat_time{
    margin-left: 10px;
    font-size: xx-small;
}

.chat_receiver{
    margin-left: auto;
    background-color:#dcf8c6 ;
}

.chat_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    border-top: 1px solid lightgray;
}

.chat_footer >form{
    flex: 1;
    display: flex;
}

.chat_footer >form >input{
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 30px; 
}

.chat_footer >form >button{
    display: none;
}

.chat_footer > .MuiSvgIcon-root{
    padding: 10px;
    color: gray;  
}

.emoji-picker-react{
    position: absolute !important;
    top: -600% !important;
    z-index: 999;
    left: 0;
    width: 30vw !important;
}

.chat_footer form input:focus{
    outline:none;
}

.hide_chat{
    display: none !important;
}

@media(max-width:629px){
    .chat{
        flex:1;
        background-image: url("https://cutewallpaper.org/21/chat-wallpapers/Chat-Wallpaper-HD-Iphone-wallpapers.jpg");
    }

    .chat_header{
        background-color: #e6e6e6;
        width: -webkit-fill-available;
        position: relative;
        padding: 7px !important;
        background-color: #075E54;
    }

    .chat_footer{
        position: fixed;
        bottom: 0;
        border-radius: 50px;
        margin: 0 5px;
        background-color: white;
        ;
        width: -webkit-fill-available;
        z-index: 4;
        height: 52px;
    }

    .emoji-picker-react {
        width: 100vw !important;
        z-index: 999;
        top: -970%;
    }
    .chat_footer > .MuiSvgIcon-root{
        padding: 10px;
        color: gray;  
    }
    .chat_body{
        padding:20px;
    }
}