.login{
    background-color: #cae2e5;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.login_container{
    text-align: center;
    background-color: rgb(255, 255, 255);
    height: 50vh;
    width: 50vh;
    border-radius: 10px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.498);
}

.login_container >button{
    margin-top: 50px;
    text-transform: inherit !important;
    background-color: #5381eb !important;
    color: white;
    box-sizing: border-box;
}

@media screen and (max-width:628px) {

    .login_container{
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        overflow: scroll;
        margin: 0;
        justify-content: space-around;
    }

    .login_text{

        background-color: #5381eb;
        border-radius: 20px;
        color: white;
        display: flex;
        justify-content: center;
        width: 50vw;
        margin-left: 24%;
        font-size: xx-small;
        box-shadow: 0 1px 3px rgba(85, 5, 234, 0.12), 0 1px 3px rgba(57, 3, 250, 0.1);
    }
    .button{
        margin-bottom: 20px !important;
        margin-right: 20px !important;
        margin-left: 5% !important;
    }
}